<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout/basic_layout}">
<head>
<title></title>
</head>
<body id="reportsPage">
	<div layout:fragment="content">
	    
	    <div class="container mt-5">
	      <div class="row tm-content-row">
	        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
	          <div class="tm-bg-primary-dark tm-block tm-block-products">
	            <div class="tm-product-table-container">
                 <!-- <form action="/productEdit" th:action="@{/productEdit}" method="post"> -->
                 <!-- <form action="#" th:action="@{/productEdit}" th:object="${seedStarter}" method="post"> -->
                 <form action="#" id="productfrm2" th:action="@{/product/productDetail}"  method="post">
                 	<input type="hidden" name="id" id="id" value=""/>
				 </form>
                 <form action="#" id="productfrm" th:action="@{/product/productDetail}"  method="post">
	              <table class="table table-hover tm-table-small tm-product-table">
	                <thead>
	                  <tr>
	                    <th scope="col">&nbsp;</th>
	                    <th scope="col">PRODUCT NAME</th>
	                    <th scope="col">PRODUCT PRICE</th>
	                    <th scope="col">PRODUCT CATEGORY</th>
	                    <th scope="col">REG DATE</th>
	                    <th scope="col">&nbsp;</th>
	                  </tr>
	                </thead>
	                <tbody>
	                  <tr id="productid" th:each="product : ${list}">
	                    <th scope="row"><input type="checkbox" /></th>
	                    
	                    <!-- <input th:type="hidden" name="id" th:field="${notes.id}" /> -->
	                    <input type="hidden" id="id" name="id" th:value="*{product.id}" />
	                    <!-- <td th:text="${product.id}">1</td> -->
	                    <td th:text="${product.name}" th:onclick="'javascript:detail(' + ${product.id} + ')'">Lorem Ipsum Product 1</td>
	                    <button th:onclick="'javascript:upload(' + ${gallery} + ')'"></button>
	                    <td th:text="${product.price}">1,450</td>
	                    <td th:text="${product.category}">550</td>
	                    <td>28 March 2019</td>
	                    <td>
	                      <a href="#" class="tm-product-delete-link">
	                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
	                      </a>
	                    </td>
	                  </tr>
	                </tbody>
	              </table>
                  </form>
	            </div>
	            <!-- table container -->
	            <a
	              href="/product/productInsert"
	              class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
	            <button class="btn btn-primary btn-block text-uppercase">
	              Delete selected products
	            </button>
	          </div>
	        </div>
	        
	        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
	          <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
	            <h2 class="tm-block-title">Product Categories</h2>
	            <div class="tm-product-table-container">
	              <table class="table tm-table-small tm-product-table">
	                <tbody>
	                  <tr>
	                    <td class="tm-product-name">Product Category 1</td>
	                    <td class="text-center">
	                      <a href="#" class="tm-product-delete-link">
	                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
	                      </a>
	                    </td>
	                  </tr>
	                </tbody>
	              </table>
	            </div>
	            <!-- table container -->
	            <button class="btn btn-primary btn-block text-uppercase mb-3">
	              Add new category
	            </button>
	          </div>
	        </div>
	        
	      </div>
	    </div>	    
	    
	<script>
	    window.onload  = function() {	    
		    $( "#productid" ).click(function() {
		    	  $( "#productfrm" ).submit();
		    });	
	    }
	    function detail(id) {
	    	$("#id").val(id);
	    	alert(id);
	    	$( "#productfrm2" ).submit();
	    	
	    }
    </script> 
    </div>
</body>

</html>